lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
node_modules
/coverage
.idea

/output
/test/async
/test/sync

/lib/
/source/packages/*/lib
/source/packages/cabbie-sync/src
/source/packages/cabbie-sync/LICENSE
/source/tarballs
/build-scripts/lib